/*General style*/

.body{
	background-color:#F78978;
}

.header{
	background-color:#D8280D;
}
h1{
	text-align: center;
	color: white;	
}
h3{
	 
	background-color: #F2452B; 
	color: white;
}
h4{
	background-color: #F2452B; 
	color: white;
}
h5{
	color: white;
}
p{
	color: white;
}


.navbar a{
	color: #D8280D;
}
.navbar{
	background-color: white;
	
}
.main{
	
}
.goal {
	float: right;
}
.footer{
	
}

/*Seperate part for Index and Info page - Caoimhe*/
.img1{width: 230px; float: left;}
.img2 {float: right; width: 240px}
.charities{color: white;}
.references{color: white;}
.pov{color: white;}
h4{color: white; text-decoration: underline;}
body{	background-color:#F78978;}
.summaryIn{background-color: #D8280D;float: right; border: 2px solid #D8280D; width: 300px; height: 650px; color: white; }
.img3 {width:140px; float:left;}
.img31{float:right; width:140px;}
.footerIn{background-color: #F2452B;}
.js{float:right;}



/*Seperate part for Ireland page - Suzanne*/
/*First Page*/
.bodyIreland{
	background-color:#F78978;/*Changing the background color*/
	padding-bottom: 80px;
	margin: 0;/*No margin on the page*/
}

.headerIreland{
	background-color:#D8280D;/*Background color for the Title*/
}
.title{/*Design of the title: color and text align to the center*/
	color: white;
	text-align: center;
}
#irelandFlag{/*Ireland flag at the top of the page*/
	float: left; 
	width: 95px;
}
#irelandFlag2{
	float: right;
	width: 95px;
}
.subTitle{/*Design of the subTitle*/
	text-align: center;
	color: white;
}
.mainIreland1 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 300px;  /* 2 columns and Summary */
  gap: 30px;
  
  /* Had to do this because of Bootstrap - it was blocking my summary to be moved to the right */
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}



.sec20{/*Customising the div, which is one of the columns with the text and images*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
}
.subTitle20, .subTitle21{
	color: white;/*Changing the text color*/
}
#ireland20thCenture{/*Customising the image, making smaller, with padding, be at the center of the column*/
	float: none;
	display: block;
	width: 65%;
	padding-bottom: 15px;
	padding-top: 17px;
}

.sec21{/*Customising the div, which is one of the columns with the text and images*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
	gap: 20px;
}
.sec21 .subSec21{/*Making the image and text inside of the div be side by side*/
	display: flex;
	gap: 20px;
	align-items: flex-start;
}


#ireland21stCenture{/*Customising the image*/
	float: none;
	display: block;
	width: 150px;
}
#ireland21stCenture2{/*Customising the image*/
	float: none;
	display: block;
	width: 80%;
	padding-bottom: 15px;
}

.summaryIreland1{/*Other div, which is the block with the summary*/
	padding: 20px;
	background-color: #D8280D;
	color: white;
}

.footerIreland{/*Customising the bottom of the page, which there is the name of the author and name of the project*/
	clear: both;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background-color: #F2452B;
}


/*Second page*/
.container2{/*Customising the container to the div inside of it be separated in 2 columns and with horizontal gaps*/
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 20px;
	max-width: 100%;
}
.poverty{/*Div of the text and image*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
}

.povertyImages{/*Block that has just the image, which is located inside of the Poverty div*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
	gap: 20px;
}
/*Making the image responsive*/
#poverty2_S{/*Government image - Customising the image for the size, float and other things work*/
	float: none;
	display: block;
	width: 100%;
	max-width: 700px;
	height: auto;
}

.summaryIreland2{/*Other div, which is the block with the summary*/
	float: right;
	padding: 20px;
	color: white;
	background-color: #D8280D;
}

.line{/*Line that separate the summary from the Login block*/
	border: none;
	height: 2px;
	background-color: white;
	margin: 15px 0;
}

#codeIreland{/*QR Code for another pdf*/
	float: left;
	width: 150px;
	padding: 10 px;
	padding-right: 20px;
	
}

.summaryIreland p{/*Changing the color and making the text be bold*/
	color: white;
	font-weight: bold;
}
.referencesIreland{/*Changing the backgroung and color*/
	background-color: #F2452B;
	color: white;
}
.listIreland{/*Changing the color of the text inside of the list - that it is inside of the summary*/
	color: white;
}

.textSummary1{
	color: white;
}
.textSummary2{
	color: white;
	
}

/*Changing format*/
/*For tablets*/
@media (max-width: 992px) {
  /*Header: title under the flag and in the center*/
.headerIreland {
    flex-direction: column;
    text-align: center;
}

.title {
    margin: 0;
}

/*Page 1: all columns turning in just 1*/
.mainIreland1 .container {/*Did the same here to cancel Bootstrap and make the summary work*/
    grid-template-columns: 1fr;
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.sec21 .subSec21 {
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

/*Page 2: grid turning in just one column*/
.container2 {
    grid-template-columns: 1fr;
}

/*Letting the red box be under the hole text - so, Login and Summary will be at the end of the page*/
.summaryIreland {
    order: 2;
 }

.poverty {
    order: 1;
}
}

/*For cell phone*/
@media (max-width: 600px) {
/*Navbar: links in block and in the middle of the page*/
.navbar {
    text-align: center;
}

.navbar a {
    display: block;
    padding: 6px 0;
}

#irelandFlag {
    width: 60px;
}
.container3 {
	flex-direction: column;
}

#codeIreland {
    margin-right: 0;
}
/*India & About India page - Fiona*/

.bodyIndia{
	background-color:#F78978;
	padding-bottom: 80px;
	margin: 0;
}

.headerIndia{
	background-color:#D8280D;
}
.title{
	color: white;
	text-align: center;
}

.container1India{
	flex-direction: column;
}

.povertyIndia{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
}

.textIndia h3{
	width: 100%;
	text-align: center;
	color: white;
}

.textSummary1India{
	color: white;
	float:right;
}

.textSummary2India{
	color: white;
	float:left;
}

.textSummary3India{
	color: white;
	float:right;
}

.textSummary4India li{
	color:white;
}

.summaryIndia{
  background-color: #D8280D;
  color: white;
  padding: 20px;
}
.p1{
	color:white;
	font-weight:bold;
}
.container2India{
	display: grid;
	grid-template-columns: 1fr 300px;
	max-width: 100%; 
}

.lineIndia{
	border: none;
	height: 2px;
	background-color: white;
	margin: 15px 0;
}

.container3India{
	flex-direction: column;
	clear:both;
}

.referencesIndia {
  grid-column: span 2;
  background-color: #F2452B;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.footerIndia {
  grid-column: span 2;
  background-color: #F2452B;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
}

.textSummary1{
	color: white;
}
.textSummary2{
	color: white;	
}

.listIndia{
	color:white;
}

#indianFlag2{
	float: left; 
	width: 90px;
	height:48px;
}

#indianFlag1{
	float: right; 
	width: 90px;
	height:48px;
}

#taj-mahal{
  width: 250px;
  float: right;
}

#sustainable-development{
	width: 250px;
	float: left;
}

#SDGs{
	width: 200px;
	float: left;
}

#india-state-chart{
	float: right;
	width: 250px;
}
#india-bar-chart{
	float: left;
	width: 250px;
}
#india-index-score{
	float: ;
	width: 250px;
}






