.img1 {width: 230px; float: left;}
h1{text-decoration: underline;}
h3{text-decoration: underline; background-color: #FF0505; }
.goal {float: right;}
.summary {float: right; border: 2px solid black; width: 300px; height: 600px; background-color: white;}
.navbar {}
.main{}
.header{background-color:#FF0505; marign: 100px;}
.footer{}
.img2 {float: right; width: 240px}
