/*General style*/

.body{
	background-color:#F78978;
}

.header{
	background-color:#D8280D;
}
h1{
	text-align: center;
	color: white;	
}
h3{
	 
	background-color: #F2452B; 
	color: white;
}
h4{
	background-color: #F2452B; 
	color: white;
}
h5{
	color: white;
}
p{
	color: white;
}


.navbar a{
	color: #D8280D;
}
.navbar{
	background-color: white;
	
}
.main{
	
}
.goal {
	float: right;
}
.footer{
	
}

/*Seperate part for Index and Info page - Caoimhe*/
.summary {
	float: right; 
	border: 2px solid #D8280D; 
	width: 300px; 
	height: 600px; 
	background-color: white;
}
.img1{
	width: 230px; 
	float: left;
}
.img2 {
	float: right; 
	width: 240px
}

/*Seperate part for Ireland page - Suzanne*/
/*First Page*/
.bodyIreland{
	background-color:#F78978;
	padding-bottom: 80px;
	margin: 0;
}

.wrapperIreland{}

.headerIreland{
	background-color:#D8280D;
}
.title{
	color: white;
	text-align: center;
}
#irelandFlag{
	float: left; 
	width: 95px;
}

.mainIreland1{
	/*height: 700px;*/
}
.subTitle{
	text-align: center;
	color: white;
}
.container{
	display: flex;
	gap: 30px;
}
.container > div{
	flex: 1;
}


.sec20{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
}
.subTitle20, .subTitle21{
	color: white;
}
#ireland20thCenture{
	float: none;
	display: block;
	width: 65%;
	padding-bottom: 15px;
	padding-top: 17px;
}

.sec21{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 20px;
	gap: 20px;
}
.sec21 .subSec21{
	display: flex;
	gap: 20px;
	align-items: flex-start;
}
.sec21 .subSec21B{
	/*float: left;*/
}


#ireland21stCenture{
	float: none;
	display: block;
	width: 150px;
}
#ireland21stCenture2{
	float: none;
	display: block;
	width: 80%;
	padding-bottom: 15px;
}


.footerIreland{
	clear: both;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background-color: #F2452B;
}


/*Second page*/


.codeIreland{
	float: left;
	width: 150px;
	padding: 10 px;
	
}
.mainIreland2{
	height: 500px;
}
.summaryIreland{
	float: right;
	border: 2px solid #D8280D; 
	width: 300px;  
	height: 455px;
	background-color: white;
}
.referencesIreland{
	
	background-color: #F2452B;
	color: white;
}
.listIreland{
	color: white;
}

.textSummary1{
	color: #D8280D;
	text-decoration: underline;
}
.textSummary2{
	color: #D8280D;
}
