/*General style*/

.body{
	background-color:#F67561;
}

.header{
	background-color:#D8280D;
}
h1{
	text-decoration: underline;
	text-align: center;
	color: white;	
}
h3{
	text-decoration: underline; 
	background-color: #F2452B; 
	color: white;
}
h5{
	color: white;
}
p{
	color: white;
}
.text{
	color: white;
}

.navbar a{
	color: #D8280D;
}
.navbar{
	background-color: white;
	
}
.main{
	
}
.goal {
	float: right;
}
.footer{
	
}

/*Seperate part for Index and Info page - Caoimhe*/
.summary {
	float: right; 
	border: 2px solid #D8280D; 
	width: 300px; 
	height: 600px; 
	background-color: white;
}
.img1{
	width: 230px; 
	float: left;
}
.img2 {
	float: right; 
	width: 240px
}

/*Seperate part for Ireland page - Suzanne*/

.irelandFlag{
	float: left; 
	width: 95px;
}
.ireland20thCenture{
	float: right;
	
}
.ireland21stCenture{
	width: 100px;
	float: left;
	padding-right: 10px;
}
.ireland2stCenture2{
	float: right;
	width: 30%;
	padding-bottom: 50px;
}



.bodyIreland{
	background-color:#F67561;
}
.headerIreland{
	background-color:#D8280D;
}
.mainIreland{}
.summaryIreland{
	float: right; 
	border: 2px solid #D8280D; 
	width: 300px; 
	height: 600px; 
	background-color: white;
}
.referencesIreland{
	text-decoration: underline; 
	background-color: #F2452B;
	color: white;
}
.listIreland{
	color: white;
}
.footerIreland{}
